language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-kickstart' ]; then cd .. && eval "mv $currentfolder generator-kickstart" && cd generator-kickstart; fi
