$experimental-support-for-svg: true;

/* Mixins */

// $sitewidth and $margin in px
@mixin mf-layout ($columns: 24, $sitewidth: 960, $margin: 20) {
  $col-margin: percentage($margin/$sitewidth);

  .cols#{$columns} {
    margin: 0;

    &:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      visibility: hidden;
    }

    > .col {
      float: left;
      margin-left: $col-margin;
      min-height: 1px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  $i: $columns;

  @while $i > 0 {
    $width: (100% / $columns) * $i;
    $margin: ($col-margin / $columns) * $i;

    .c#{$i}of#{$columns} {
      width: $width + $margin - $col-margin;
    }

    .cols#{$columns} .col.offset#{$i}of#{$columns} {
      margin-left: $width + $margin + $col-margin;
    }

    .cols#{$columns} .col.offset#{$i}of#{$columns}:first-child {
      margin-left: $width + $margin;
    }

    $i: $i - 1;
  }
}


// Base64 background-image width png fallback
@mixin base64-image-retina($url) {
  background-repeat: no-repeat;
  background-image: inline-image($url + '.svg');
  .no-svg & {
    background-image: image-url($url + '.png');
  }
}

/* Farben */

$grey-bright: #ccc;
$grey-dark: #222;

$blue: #000022;

// @import "_normalize.scss/normalize";
@import "app/common/common";
@import "app/linklist/linklist";
@import "app/image-gallery/image-gallery";
@import "app/nav/nav";
@import "app/accordion/accordion";
