<!DOCTYPE html>
<% if (oldIE) { %>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="de"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
<% } %>
<% if (!oldIE) { %><html class="no-js" lang="de"><% } %>

  <head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="msapplication-TileImage" content="assets/img/windows-tile-icon.png">
    <meta name="viewport" content="width=device-width">

    <title><%= ProjectName %></title>

    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="assets/css/<%= ProjectName %>.css">

    <script src="assets/js/libs/modernizr.js"></script>

  </head>
  <body>
    <% if (oldIE) { %>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <% } %>

    <header class="header"></header>

    <main class="wrapper">

      <h1 class="heading style1"><%= ProjectName %></h1>

    </main> <!-- wrapper -->

    <footer class="footer"></footer>

    <% if (wysiwygCMS) { %><!-- front-end only: --><% } %>
    <script data-main="assets/js/<%= ProjectName %>" src="assets/js/libs/require.js"></script>

    <% if (wysiwygCMS) { %>
    <!-- used in wysiwyg CMS:
    <link rel="stylesheet" href="assets/css/app/_deferred/backend/backend.css">
    <script src="assets/js/libs/require.js"></script>
    <script charset="utf-8">
      require(['assets/js/<%= ProjectName %>'], function() {
        require(['assets/js/deferred/backend'], function(Backend) {
          Backend.init();
        });
      });
    </script>
    -->
    <% } %>

    <% if (livereload) { %>
    <!-- livereload - only include in development environment! -->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <% } %>

  </body>
</html>
