<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="de"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= ProjectName %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="assets/css/<%= _.slugify(ProjectName) %>.css">
  <% if (includeModernizr) { %><script src="assets/js/libs/modernizr.js"></script><% } %>
</head>
<body>

  <header class="header"></header>

  <main class="wrapper">

  <h1 class="heading style1"><%= ProjectName %></h1>

  {app:{rte}}

  <% if (includeAccordion) { %>
  {app:{accordion}}
  <% } %>

  <% if (includeTabs) { %>
  {app:{tabs}}
  <% } %>

  <% if (includeElementSwitcher) { %>
  {app:{element-switcher}}
  <% } %>

  <% if (includeColorbox) { %>
  {app:{overlay}}
  <% } %>

  <% if (includeAnythingSlider) { %>
  {app:{slider}}
  <% } %>

  </main> <!-- wrapper -->

  <footer class="footer"></footer>

  <script data-main="assets/js/<%= _.slugify(ProjectName) %>" src="assets/js/libs/require.js"></script>

</body>
</html>
